
body {
    background-color: #4065a8;
    color: #444;
    font: normal 1.2em Verdana,Arial,sans-serif;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
}

.wrapper {
    background-color: #8aaae2;
    min-height: 100vh;
    padding: 0 15px 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

